{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <form action="" method="POST">
        <div class="container px-5 py-24 mx-auto">
        <div class="flex lg:w-2/3 w-full bg-gray-100 rounded-lg p-8 flex flex-col mx-auto w-full mt-10 md:mt-0 px-8 space-y-4">
            <h2 class="text-gray-900 text-lg font-medium title-font mb-5">CHANGE PASSWORD</h2>
            {% csrf_token %}

            {% for field in form %}
                <div class="relative mb-4">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div role="alert">
                            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                            <p>{{ field.errors }}</p>
                            </div>
                        </div>    
                    {% endif %}
                </div>    
            {% endfor %}
                
            <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                Confirm Password
            </button>
            <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
        </div>
        </div>
    </form>
</section>
{% endblock content %}